<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158576154553-10p4tuinalhluulb2nk7hmk5elr6s4ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158576154553-10p4tuinalhluulb2nk7hmk5elr6s4ih</string>
	<key>API_KEY</key>
	<string>AIzaSyAgtfuOjEhLJC6kODXyg7J2Cox2eIwvqiU</string>
	<key>GCM_SENDER_ID</key>
	<string>158576154553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterRepo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>podium-78b4e</string>
	<key>STORAGE_BUCKET</key>
	<string>podium-78b4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158576154553:ios:f165f7f94d28d432bb8868</string>
	<key>DATABASE_URL</key>
	<string>https://podium-78b4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>