@font-face {
    font-family: questrialFont;
    src: url('fonts/Questrial-Regular.ttf');
  }
  html{
    height: 100%;
    background: #fafafa;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: questrialFont;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .coming-soon{
    font-weight: 400;
    font-size: 40px;
    background-image: linear-gradient(69deg, #069, #098d69);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color : transparent;
  }
  
  .partnerships-modal {
    display: none; /* Hidden by default */
    opacity: 0;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    transition: opacity ease 500ms;
  }
  
  
  .modal-content {
    background-color: lightgray;
    margin: auto;
    padding: 10px;
    width: 350px;
    border-radius: 25px;
  }
  
  .modal-title {
    font-size: 32px;
    font-weight: 400px;
    color: #098d69;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-email-input {
    height: 36px;
    width: 260px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
  }
  
  .modal-textarea-input {
    resize: none;
    height: 80px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
  }
  
  .modal-submit-button {
    height: 32px;
    width: 270px;
    background: linear-gradient(69deg, #069, #098d69);
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: questrialFont;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
  }
  
  .modal-submit-button:hover{
    cursor: pointer;
  }
  
  .x-container{
    position: relative;
    left: 95%;
  }
  
  i {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
  }
  
  i:hover{
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .partnerships-button {
    font-family: questrialFont;
    font-size: 42px;
    color: #098d69;
    height: 69px;
    width: 420px;
    border: 3px solid #098d69;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .partnerships-button:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 469px) {
    .podium-img, .partnerships-button {
      transform: scale(.69);
      transition: transform 200ms;
    }
  
  }